body {
    background-color: #ededed;
    font-size: 1em;
    font-family: 'Open Sans', Arial, Tahoma;
}

.container {
    background-color: white;
    width: 80%;
    margin: 100px auto 20px;
    padding: 0 20px 20px;
}

header {
    text-align: center;
    border-bottom: double #ededed;
    padding-bottom: 10px;
}

.avatar {
    width: 150px;
    margin-top: -80px;
    border-radius: 50%;
    border: 5px solid #ededed;
}

h1,h2,h3 {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 2.4em;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

h3, .color-red {
    color: #F0563D;
}

h3:before {
    content: '//';
    margin-right: 10px;
}

sup {
    opacity: 0.5;
}

main {
    display: flex;
    padding-top: 20px;
}

.left-column {
    width: 60%;
}

.right-column {
    margin-left: 30px;
    width: 40%;
}

main section p {
    font-size: 14px;
    line-height: 1.5em;
}