* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ededed;
    font-size: 1em;
    font-family: 'Open Sans', Arial, Tahoma;
}

.container {
    background-color: white;
    width: 1170px;
    margin: 100px auto 20px;
    padding: 0 20px 20px;
}

header {
    text-align: center;
    border-bottom: double #ededed;
    padding-bottom: 10px;
}

.avatar {
    width: 150px;
    margin-top: -80px;
    border-radius: 50%;
    border: 5px solid #ededed;
}

h1,h2,h3,p {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 2.4em;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

h3, .color-red {
    color: #F0563D;
    padding-top: 20px;
}

h3:before {
    content: '//';
    margin-right: 10px;
}

p {
    margin-top: 10px;
}

sup {
    opacity: 0.5;
}

main {
    display: flex;
}

.left-column {
    width: 58%;
}

.right-column {
    margin-left: 30px;
    width: 42%;
}

main section p {
    font-size: 14px;
    line-height: 1.5em;
}

.education-list {
    list-style: none;
    position: relative;
}

.education-list:before {
    content: ' ';
    background: linear-gradient(to bottom, white, #F0563D 10%,#F0563D 90%,white);
    width: 5px;
    height: 100%;
    position: absolute;
    left: 15px;
    display: inline-block;
    z-index: 0;
}

.education-list li {
    margin-top: 10px;
    position: relative;
}

.year {
    width: 10%;
    display: inline-block;
    background-color: white;
    float: left;
    margin-top: 15px;
}

.education-content {
    padding: 10px 10px;
    width: 86%;
    display: inline-block;
    background-color: #eee;
    border-bottom: 1px solid #dddddd;
}

.education-content:after {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    left: 57px;
    top: 18px;
    border-top: 8px solid transparent;
    border-right: 10px solid #eeeeee;
    border-bottom: 8px solid transparent;
}

.experience {
    display: flex;
    padding: 10px 0 10px 10px;
}

.experience-time {
    display: inline-block;
    width: 30%;
}

.experience p {
    margin-top: 2px;
}

.experience-time p {
    color: #363636;
    font-size: 13px;
}

.experience-content {
    display: inline-block;
    width: 70%;
}

.experience-content p {
    font-size: 13px;
}